# Environment & Secrets
.env
.env*
!.env.example

# Python cache & virtualenv
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
venv/
.venv/
env/

# macOS / IDE
.DS_Store
*/.DS_Store
.idea/
.vscode/
